<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <img src="http://placehold.it/50x50" alt="Logo" class="img-circle">
            <a class="navbar-brand" routerLink="/">{{title}}</a>
        </div>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/rides">Rides</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/rides/edit">Ride Edit</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/user-profile">My Profile</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/user-create">Create User</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/user-edit">Edit User</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/user-rides">User Rides</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/user-messages">User Messages</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><button class="btn btn-success navbar-btn" routerLink="/rides/create">+ Create Ride</button></li>
            <li *ngIf="!currentUser">
                <a [routerLink]="['/login']"><span class="glyphicon glyphicon-user"></span> Login</a>
            </li>
            <li *ngIf="currentUser">
                <a [routerLink]="['/login']"><span class="glyphicon glyphicon-user"></span> Hi {{currentUser.firstName}}!</a>
            </li>
        </ul>
    </div>
</nav>