<div class="row">
  <div class="col-md-12">
    <form #f="ngForm" (ngSubmit)="createRide($event)" class="form-horizontal well">
      <fieldset>
        <legend>Create Ride</legend>
        <div class="form-group">
          <label class="col-lg-2 control-label">Date</label>
          <div class="col-lg-10">
            <my-date-picker
                    [options]="myDatePickerOptions"
                    (dateChanged)="onDateChanged($event)"
                    placeholder="Date"
                    name="date"
                    [(ngModel)]="date"
                    required
            ></my-date-picker>
          </div>
        </div>
        <div class="form-group">
          <label for="title" class="col-lg-2 control-label">Title</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="Title" name="title" id="title" [(ngModel)]="title" required>
          </div>
        </div>
        <div class="form-group">
          <label for="city" class="col-lg-2 control-label">City</label>
          <div class="col-lg-10">
            <input type="text"
                   auto-complete
                   list-formatter="description"
                   [source]="cities"
                   class="form-control"
                   placeholder="City"
                   autocomplete="off"
                   id="city"
                   name="city"
                   [(ngModel)]="city"
                   min-chars="2"
                   required>
          </div>
        </div>
        <div class="form-group">
          <label for="region" class="col-lg-2 control-label">Region</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="Region" id="region" name="region" [(ngModel)]="region">
          </div>
        </div>
        <div class="form-group">
          <label for="distance" class="col-lg-2 control-label">Distance</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="Distance" id="distance" name="distance" [(ngModel)]="distance" required>
          </div>
        </div>
        <div class="form-group">
          <label for="author" class="col-lg-2 control-label">Author</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="Author" id="author" name="author" [(ngModel)]="author" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Create</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Preview</h3>
      </div>
      <div class="panel-body">
        <div class="Ride__title">Заголовок: {{title}}</div>
        <div class="Ride__city">Город: {{city}}</div>
        <div class="Ride__region">Район: {{region}}</div>
        <div class="Ride__date">Дата: {{dateFormatted}}</div>
        <div class="Ride__distance">Дистанция: {{distance}}</div>
        <div class="Ride__author">Автор: {{author}}</div>
      </div>
    </div>
  </div>
</div>
