<div class="row">
    <div class="col-md-6">
        <div class="Ride-list">
            <ul class="list-group">
                <app-ride *ngFor="let ride of rides" [ride]="ride" (remove)="remove($event)"></app-ride>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <router-outlet></router-outlet>
    </div>
</div>
