<div *ngIf="messages">
  <div *ngFor="let message of messages" [ngClass]="{ 'alert fade in': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error', 'alert-warning': message.type === 'warning', 'alert-info': message.type === 'info' }">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="close($event, message)">&times;</a>{{message.text}}
  </div>
</div>