<h1>Ride Edit</h1>
<div class="row">
  <div class="col-md-12">
    <form #f="ngForm" (ngSubmit)="saveRide()" class="form-horizontal well" *ngIf="ride">
      <fieldset>
        <legend>Edit Ride</legend>
        <div class="form-group">
          <label class="col-lg-2 control-label">Date</label>
          <div class="col-lg-10">
            <my-date-picker
                    [options]="myDatePickerOptions"
                    (dateChanged)="onDateChanged($event)"
                    placeholder="ride.date.formatted"
                    name="date"
                    [(ngModel)]="ride.date"
                    required
            ></my-date-picker>
          </div>
        </div>
        <div class="form-group">
          <label for="title" class="col-lg-2 control-label">Title</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="Title" name="title" id="title"
                   [(ngModel)]="ride.title" required>
          </div>
        </div>
        <div class="form-group">
          <label for="city" class="col-lg-2 control-label">City</label>
          <div class="col-lg-10">
            <input type="text"
                   auto-complete
                   list-formatter="description"
                   [source]="cities"
                   class="form-control"
                   placeholder="City"
                   autocomplete="off"
                   id="city"
                   name="city"
                   [(ngModel)]="ride.city"
                   min-chars="2"
                   required>
          </div>
        </div>
        <div class="form-group">
          <label for="region" class="col-lg-2 control-label">Region</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="Region" id="region" name="region"
                   [(ngModel)]="ride.region">
          </div>
        </div>
        <div class="form-group">
          <label for="distance" class="col-lg-2 control-label">Distance</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="Distance" id="distance" name="distance"
                   [(ngModel)]="ride.distance" required>
          </div>
        </div>
        <div class="form-group">
          <label for="author" class="col-lg-2 control-label">Author</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="Author" id="author" name="author"
                   [(ngModel)]="ride.author" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Save</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
