<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-alert></app-alert>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 *ngIf="title">{{title}}</h1>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-footer></app-footer>
