<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 *ngIf="currentUser">Hi {{currentUser.firstName}}!</h1>
    <p>You're logged in with Angular 2!!</p>
    <h3>All registered users:</h3>
    <ul *ngIf="users">
      <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)">Delete</a>
      </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
  </div>
</div>