<li [ngClass]="{'selected': ride === selectedRide, 'Ride list-group-item': true}">
  <span class="badge">{{ride.date.formatted}}</span>
  <a [routerLink]="['/rides/details', ride._id]">
    <div class="Ride__title">{{ride.title}}</div>
  </a>
  <div class="Ride__city">Город: {{ride.city.description}}</div>
  <div *ngIf="ride.region.length > 0" class="Ride__region">Район: {{ride.region}}</div>
  <div class="Ride__distance">Дистанция: {{ride.distance}}</div>
  <div class="Ride__author">Автор: {{ride.author}}</div>
  <button [routerLink]="['/rides/edit', ride._id]" class="btn btn-info">Edit</button>
  <button class="btn btn-danger" (click)="onRemove()">Remove</button>
</li>
