<form (ngSubmit)="searchRides($event)" #f="ngForm" class="form-inline">
    <div class="form-group">
        <input type="text"
               auto-complete
               list-formatter="description"
               [source]="cities"
               class="form-control"
               placeholder="Type city"
               autocomplete="off"
               name="city"
               [(ngModel)]="city"
               min-chars="2"
               required>

    </div>
    <div class="form-group">
        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" required></my-date-picker>
    </div>

    <button type="submit" [disabled]="!f.valid" class="btn btn-default">Search</button>
</form>

<app-ride-filter></app-ride-filter>
<app-ride-list [rides]="ridesFiltered"></app-ride-list>