<h1>Ride Details</h1>
<div class="row">
  <div [ngClass]="'Ride'" *ngIf="ride">
    <div class="Ride__title">{{ride.title}}</div>
    <div class="Ride__city">Город: {{ride.city.description}}</div>
    <div *ngIf="ride.region.length > 0" class="Ride__region">Район: {{ride.region}}</div>
    <div class="Ride__date">Дата: {{ride.date.formatted}}</div>
    <div class="Ride__distance">Дистанция: {{ride.distance}}</div>
    <div class="Ride__author">Автор: {{ride.author}}</div>
  </div>
</div>
